<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
    <app-pipe-demo></app-pipe-demo>
</div>
<hr>
<br>

<div class="container">
    <app-login></app-login>
</div>
<hr>
<br>

<div class="container">
    <app-register></app-register>
</div>
<hr> -->

<div class="container">
    <ul class="list-unstyled nav navbar-nav navbar-default">
        <li *ngIf="this.authService.isAuthenticated()">
            <a [routerLink]="['']">HOME</a>
        </li>
        <li>
            <a [routerLink]="['register']">REGISTER</a>
        </li>
        <li>
            <a [routerLink]="['pipe']">PIPE DEMO</a>
        </li>
        <li>
            <a [routerLink]="['user']">USER DEMO</a>
        </li>
        <li>
            <a [routerLink]="['product']">PRODUCT</a>
        </li>
        <li>
            <a [routerLink]="['employee']">EMPLOYEE</a>
        </li>
        <li>
            <a [routerLink]="['lazy']">LAZY</a>
        </li>
    </ul>
</div>
<hr> -

<router-outlet></router-outlet>

<div style="text-align:center">
  <app-user [title]="title" [users]="users">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <footer>
      <marquee>Tesla Inc. Footer</marquee>
    </footer>
  </app-user>
</div>
