<ng-content select="h1"></ng-content>
<h3 class="user">User component loaded!</h3>
<h3 class="user">Parent Title :{{title}}</h3>
<div
  class="container">
<ul class="list-unstyled">
  <li class="well" *ngFor="let user of users; index as i; first as isFirst; even as isEven">
    <div class="row">
      <!-- {{i}}{{isFirst}}{{isEven}} -->
      <div class="col-xs-3 col-sm-3 col-md-3">
        <img [src]="user.image" class="img-responsive img-circle">
        <button class="btn btn-info btn-sm" (click)="moreInfo(user)">
           More Info
        </button>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8">
        <h1 apphighlight [myColor]="'aqua'" [defaultColor]="'transparent'" >{{user.firstName | uppercase}} {{user.lastName | lowercase}}</h1>
        <p [ngClass]="myClasses">DOB: <span [innerHTML]="user.dob | date"></span></p>
        <p *appUnless = "user.married">Married: {{user.married}}</p>
        <p *ngIf="!user.married; else ElseTemplate">Company: {{user.company}}</p>
        <!-- <input type="text" [value]="user.company" (change)="user.company = $event.target.value"/> -->
        <input [(ngModel)]="user.company" placeholder="name">
      </div>
  </div>
  <ng-template #ElseTemplate>
    <p>{{user.firstName}} is married!!</p>
  </ng-template>
  </li>
</ul>
</div>

<ng-content select="footer"></ng-content>